# backend/requirements.txt
fastapi
uvicorn[standard]
python-multipart
langchain
langchain-community
pypdf
sentence-transformers
chromadb
langchain-chroma
langchain-huggingface
langchain-openai
scikit-learn
pandas
python-docx
unstructured
python-magic